body {
    font-family: Avenir, sans-serif;
}

#groupSelector {
    font-family: Avenir, sans-serif;
}

::placeholder {
    font-family: Avenir, sans-serif;
}

#goBackButton {
	position: absolute;
	right: 10px;
	top: 5px;
}

.parentDiv {
   display: table;
   width: 100%;
}

#registerData {
	padding-top: 30px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}