.errorMessage {
	color: red;
	font-size: 10px;
}

.hiddenElement {
	display: none;
}

.inputTexts {
    border-radius: 25px;
    border: 2px solid red;
    padding: 20px; 
    width: 200px;
    height: 15px;    
}