.errorMessage {
	color: red;
	font-size: 10px;
	font-family: Avenir, sans-serif;
}

.hiddenElement {
	display: none;
}

.inputTexts {
    border-radius: 25px;
    border: 2px solid red;
    padding: 20px; 
    width: 200px;
    height: 15px;
   	font-family: Avenir, sans-serif;
}

body {
    font-family: Avenir, sans-serif;
}